@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Jersey+10&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

.all-page-container{
    width: 100%;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}


.logo img{
  width: 100px;
}

.items ul{
     display: flex;
}

.items ul li{
    width: 80px;
    height: 25px;
    list-style: none;
   margin: 25px 15px 0px  0px;
   font-family: Georgia, 'Times New Roman', Times, serif;
   border-color: #2e4053;
   box-shadow: inset -1px -1px 5px black;
   background-color: #2e4053;
   border-radius: 10px;
   text-align: center;
   align-content: center;
   font-size: 15px;
   color: black;
}

.items ul li a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.items ul li:hover{
   background-color: transparent;
   color: white;
   border: 1px solid #2e4053;
   transition: 0.5s ease-in-out;
}

.items ul li a:hover{
    color: black;
}


.section1-main-image{
    width: 100%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/736x/76/21/bb/7621bb6087ee02d1c51a38663c88e6b0.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .section1-main-image{
    text-align: center;
    align-content: center;
    padding-top: 130px;
 }


 .section1-main-image h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
    line-height: 70px;
    filter: drop-shadow(-2px -2px 5px black);
    color: #2cea7b;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    letter-spacing: 2px;
 }

 .section1-main-image button{
    display: none;
    /* margin-top: 30px;
    width: 155px;
    height: 30px;
    background-color: ;
    border-color: ;
    color: whit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    cursor: pointer; */
 }

.section2prices{
    width: 100%;
    padding-top: 100px;
} 

.one{
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.one img{
   border-radius: 10px;
   height: 350px;
   width: 300px;
}

.texts{
    align-content: center;
}

.texts b{
    color: orange;
    margin-left: 5px;
}

.texts h2{
    font-family:  Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    margin-top: 7px;
    text-transform: uppercase;
}

.texts p{
   margin-top: 15px;
}

.two{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
    flex-wrap: wrap;
    background-color: re;
}


.two img{
    border-radius: 10px;
    height: 380px;
    width: 300px;
 }



 .section3-accessories{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 100px;
   
 }

 .box1{
    width: 25%;
    box-sizing: border-box;
    box-shadow: inset -1px -1px 4px black, inset 1px 1px 2px black;
    padding: px;
    text-align: center;
    border-radius: 10px;
 }

 .box1 img{
    padding: 10px;
    width: 90%;
  border: 4px double black;
  border-color: transparent;
   border-bottom-color: black;
   border-radius: 20px;
 }

 .tex{
    padding-top: 25px;
    padding: 15px;
    border-radius: 15px;
 }

 .texts h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: left;
 }

 .texts p{
    margin-top: 18px;
   font-size: 13px;
 }

.texts button{
    margin-top: 35px;
    width: 150px;
    height: 27px;
}

.section-4{
    width: 95%;
   background-color: whitesmoke;
    margin: 80px auto;
    border-radius: 2px;
}

.section-4 h2{
    text-align: center;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   font-size: 40px;
   font-weight: lighter;
}

.yellow{
    width: 80%;
    background-color: #fff;
    height: ;
    margin: 150px auto;
    border: 1px solid orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 50px;
    text-align: center;
    row-gap: 30px;
    border-radius: 5px;
}

.textsss{
    width: 22%;
}
.line{
    border: 1px solid rgb(34, 33, 33);
    border-color: transparent;
    border-bottom-color: rgb(66, 62, 62);
    width: 45%;
    margin: 5px auto;
}

.textsss span{
    color: black;
}

.textsss h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 21px;
    font-weight: lighter;
}

.textsss p{
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
}


.footer{
    width: 100%;
    height: 100px;
   background-color: black;
   color: white;
   margin-top: 80px;
   padding-top: 10px;
  }
  
  .textssssss{
    position: relative;
    top: 10%;
    display: flex;
    justify-content: space-between;
  }
  
  .textssssss p{
    color: white;
    font-weight: 900;
    background-color: re;
   margin-right: 10px;
    padding: 2px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  
  
  .fa-solid.fa-phone{
    font-size: 25px;
    color: #146EBE;
  }
  .fa-solid.fa-envelope{
    color: #61BFEB;
    font-size: 25px;
  }
  
  .fa-solid.fa-location-dot{
    color: #D12B2F;
    font-size: 25px;
  }
  
  .second-line{
    position: relative;
    top: 49%;
    text-align: center;
  }
  
  .second-line p{
   font-weight: 200;
    font-size: 17px;
  }
  
  .second-line i{
    font-size: 12px;
   background-color: whit;
   position: relative;
   right: 4px;
  }




@media (max-width: 500px) {
    .all-page-container{
        width: 100%;
        background-color: lack;
    }
   .navbar{
    width: 100%;
    /* height: 100px;
    background-color: red; */
   }
    
   .logo{
     width: 20%;
    background-color: aliceblu;
   }

    .logo img{
     width: 100%; 
   } 
  
  .items{
    width: 80%;
  } 
  .items ul li{
    width: 50px;
    font-size: 12px;
    background-color: #2e4053;
    margin: 30px 10px 0px 0px;
  }

  .section1-main-image{
    width: 100%;
    height: 500px;
}

.section1-main-image h1{
    font-size: 35px;
}

.section1-main-image button{
    width: 140px;
    height: 30px;
}

.section2prices{
    width: 100%;
    padding-top: 100px;
} 

.one{
    width: 90%;
    margin: auto;
    background-color: yello;
    text-align: center;
    border-bottom: 1px solid black;
}
.one img{
    height: 280px;
    width: 100%;
    margin-bottom: 15px;
}

.texts h2{
    font-size: 20px;  
}

.texts p{
    font-size: 10px;
    padding-bottom: 30px;
}
.two{
    width: 90%;
    margin: auto;
  background-color: re;
  flex-direction: column-reverse;
  text-align: center;
}

.two img{
    width: 100%;
    height: 280px;
}

.section3-accessorie{
    width: 100%;
    text-align: center;
}

.box1{
    width: 80%;
    margin-top: 15px;
}

.section-4 h2{
    font-size: 24px;
}

.textsss{
    width: 40%;
}

.textsss h4{
    font-size: 13px;
}

.textsss p{
    font-size: 12px;
}

.footer{
    width: 100%;
    height: auto;
}

.textssssss{
    display: flex;
    justify-content: space-between;
}

.textssssss p{
    background-color: re;
    font-size: 10px;
}

.textssssss i{
    font-size: 15px;
}

.fa-solid.fa-location-dot{
    font-size: 15px;
  }

  .fa-solid.fa-envelope{
    font-size: 15px;
  }

  .fa-solid.fa-phone{
    font-size: 15px;
}

.second-line p{
    margin-top: 25px;
    font-size: 13px;
}

.second-line i{
    font-size: 8px;
}

}



